@font-face {
    font-family: 'fifaFont'; /*a name to be used later*/
    src: url('fifaFont.ttf'); /*URL to font*/
}
.title{
    font-family:"fifaFont";
    text-align:center;
    color: white;
}
body{
    background-image: url("../images/WorldCupBackground.jpg");
    color: #015386
}
.rosso{
    background: #D30208;
    color: white;
}
.midnightBlue{
    background: #015386;
    color: #E5C685;
}
.honoluluBlue{
    background: #0074B1;
    color: #F5EED5;
}
.gold{
    background: #E5C685;
    color: #015386;
}
.antiqueWhite{
    background: #F5EED5;
    color: #015386;
}
#fieldImage{
    bottom: 0%;
}
#ballImageUser{
    position:absolute;
    bottom:50%;
    left: 42%;
}
#ballImageAI{
    position:absolute;
    top:50%;
    left: 42%;
}
.field{
    position:relative;
    max-height: 300px;
    max-width: 200px;
}
.modalTitle{
    font-family:"fifaFont";
    font-size: 50px;
    color: #0074B1;
}

#score{
    font-family:"fifaFont";
}
#popover{
    position:absolute;
    right:5px;
    top:3px;

}
#chances{
    color:white;
}

@media only screen and (max-width: 780px) {
    .modalTitle{
        font-size:30px;
    }
}